<!DOCTYPE html>
<html>
  <head>
    <title>IPv6地图</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">高校IPv6地图</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" id="hostname" name="hostname" placeholder="输入域名" aria-label="http://">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button"  data-toggle="modal" data-target="#exampleModalCenter">检测</button>
    </form>
  </nav>

    <%= yield %>

    <%= render 'layouts/check' %>
  </body>
</html>
